/* Footer area */
.footer__area {
  padding: 2rem 0;
  background: lightslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__area p {
  font-size: 1rem;
}
.footer__button {
  border: 1px solid black;
  background: none;
  color: white;
}

@media (min-width: 1140px) {
  .footer__area p {
    font-size: 1.2rem;
  }
}
