.header-menu {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.brand {
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  flex-direction: row;
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0.5rem;
}
.brand img {
  height: 30px;
  margin-right: 1rem;
  width: 30px;
}

.user {
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  display: flex;
  flex-direction: row;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: flex-end;
  margin-right: 1rem;
}
.account {
  margin-right: 0.5rem;
}
.menu {
  grid-area: 2 / 1 / 3 / 3;
}
.menu a {
  color: lightslategray;
}

.menu-items {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  padding: 0.1rem 2rem;
  text-transform: uppercase;
}

@media (min-width: 1140px) {
  .menu-items {
    font-size: 0.8rem;
  }
}

.menu-items a:hover {
  color: lightskyblue;
}
