@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Newsreader:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("blog.css");

body {
  font-size: 62.5%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
}

a {
  color: #00000c;
  text-decoration: none;
}
button {
  cursor: pointer;
}
p {
  font-weight: 700;
}
figure {
  margin: 0;
}
@media (min-width: 1140px) {
  .container {
    width: 60vw;
    margin: auto;
  }
}
